body,html {
    color: #616366;
    font-family: system-ui,-apple-system,segoe ui,roboto,ubuntu,cantarell,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
    background: #f5f5f7;
    line-height: 1.25
}

body {
    margin-left: 125px
}

*,::after,::before {
    box-sizing: border-box
}

.dashboard_logout:hover {
    transition: background-color .5s ease;
    background-color: #eef2fd
}

.dashboard_logout {
    background: #f2f2f200;
    max-width: 56px;
    padding: 6px 10px;
    color: #204de1;
    border-radius: 3px;
    border: solid 1px #204de1
}

.dashboard_logout a {
    color: #204de1
}

.account_button {
    position: absolute!important;
    display: inline-block!important;
    bottom: 0;
    left: 25%
}

.account-button {
    background: #204ce1;
    outline: 0;
    padding: 10px 11px;
    color: #fff;
    font-size: .8em;
    font-weight: 700;
    border: 1px solid #204ce1;
    border-radius: 5px;
    cursor: pointer
}

.option_container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: .2rem;
    margin: 0 auto 1.1rem;
    max-width: 90%
}

.zmdi-hc-2x {
    font-size: 25px!important
}

.labelbutton {
    font-size: 15px
}

.showmemore a {
    color: #fbfbfb!important;
    font-weight: 700;
    font-size: 15px
}

.showmemore {
    margin: -8px auto 8px;
    width: 1030px;
    text-align: center;
    background: linear-gradient(to right,#4368c5,#4469c5);
    padding: 8px 0 9px;
    border-radius: 0 0 2px 2px;
    border-top: 1px solid #91a1ca
}

.bchistherealbitcoin {
    background-color: #fff;
    padding: 1px 32px 32px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 20px;
    -webkit-box-shadow: 0 0 12px 1px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 12px 1px rgba(0,0,0,.1);
    box-shadow: 0 0 12px 1px rgba(0,0,0,.1);
    border-radius: 1px
}

.dashboard_tile {
    background-color: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 5px 10px 0 rgba(202,202,202,.12);
    border-radius: 1px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    overflow-x: auto;
    margin-bottom: 1.15rem;
    padding: 0 1.25rem
}

.dashboard_tile h2 {
    font-size: 20px;
    color: #636363;
    font-weight: 300
}

.twitter_staytuned {
    font-size: 1rem!important;
    color: #707070!important
}

.dashboard_tile p {
    margin-top: -9px;
    font-size: 15px;
    color: #6e6e6e
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 118px;
    text-align: center;
    background: #1d48d4;
    z-index: 10
}

.header .spacer {
    display: block;
    height: 0
}

.header>a {
    letter-spacing: -.1px
}

.header>a {
    display: block;
    margin-bottom: 32px;
    font-size: 16px;
    position: relative;
    color: #f8f8f8!important;
    line-height: 3
}

a,a:link,a:visited,a:active,a:hover {
    color: #1e50b3;
    text-decoration: none
}

.login-page {
    background: #252525
}

.login-page {
    width: 285px;
    margin: -75px auto;
    background: #fff;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.33)
}

.login-button {
    background-image: linear-gradient(#007256,#006d52)
}

.login-button {
    display: inline-block;
    vertical-align: middle;
    padding: inherit;
    height: 46px;
    width: 100%;
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
    background-image: linear-gradient(#10519e,#1d64a0);
    border-radius: 3px;
    border: 0;
    -webkit-appearance: none;
    transition: all ease-in .1s
}

.databaselist {
    border: 1px solid #e6e6e6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 5px 10px 0 rgba(202,202,202,.12);
    background: #fff;
    margin: auto auto 8px;
    box-sizing: border-box;
    width: 100%;
    overflow-x: auto
}

.databaselist td {
    padding: 2px 15px;
    word-break: break-all
}

.databaselist td:first-child {
    text-transform: capitalize;
    font-weight: 400;
    width: 50%;
    vertical-align: top
}

.databaselist tr:hover {
    background: #f3f3f3
}

.datatable {
    word-break: break-word
}

tbody,table,td {
    border-spacing: 0x!important
}

.searchtools {
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #e6e6e6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 5px 10px 0 rgba(202,202,202,.12);
    background: #fff;
    margin: auto auto -2px;
    min-height: 27px;
    line-height: 27px;
    box-sizing: border-box
}

input[type=text],input[type=file],input[type=password],input[type=email],select {
    height: 50px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgba(202,202,202,.12);
    width: 100%;
    padding: 15px;
    float: left;
    font-size: 16px;
    color: #555;
    background-color: #fff;
    margin: 5px auto 10px;
    box-sizing: border-box
}

.searchbar {
    margin-top: 12px
}

.form_submit {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 34px;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    vertical-align: middle;
    float: right;
    cursor: pointer;
    color: #fff;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
    background-color: #1c48d4;
    margin: -54px 6px 0 0;
    display: inline-block;
    overflow: auto;
    border-radius: 5px;
    outline: 0
}

.radiolabelbutton {
    display: none
}

.radiolabelbutton:checked+label {
    color: #fff;
    background-color: #204de1;
    box-shadow: 0 5px 2px -5px rgba(0,0,0,.28);
    transition: background-color .9s ease
}

.radiolabelbutton+label:hover {
    border: 1px solid #204de166;
    transition: border .2s ease
}

.radiolabelbutton+label {
    font-size: .95rem;
    color: #616366;
    width: 100%;
    padding: .85rem;
    display: inline-block;
    background: #fdfdfd;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgba(202,202,202,.12);
    text-align: center;
    cursor: pointer
}

.radiobutton_width {
    width: 10%
}

.input.checkboxcheckmark+label {
    line-height: 24px;
    cursor: pointer
}

input.checkboxcheckmark {
    display: none
}

input.checkboxcheckmark:checked+label {
}

.sb_checkbox_checked {
    border: 1px solid #d5e2ff!important;
    background: #d5e2ff!important;
    color: #0042da
}

input.checkboxcheckmark+label {
    vertical-align: top;
    transition: all ease .3s;
    cursor: pointer
}

.tooltip {
    position: relative;
    display: inline-block
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 350px;
    background-color: rgba(255,255,255,.95);
    color: #000;
    border: 1px solid #ececec;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -175px;
    opacity: 0;
    transition: opacity .5s
}

.crack_button {
    background: 0 0;
    color: #1e50b3;
    border: 0;
    text-decoration: none;
    font-size: 13px;
    outline: 0;
    border-radius: 1px;
    padding-left: 4px;
    padding-right: 4px
}

.searchtools_button {
    cursor: pointer;
    float: right;
    margin-left: 6px;
    font-size: 13px
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #4c4c4c transparent transparent transparent
}

.input.checkboxcheckmark+label {
    line-height: 24px;
    cursor: pointer
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1
}

input.checkboxcheckmark {
    display: none
}

input.checkboxcheckmark:checked+label::before {
    color: #fff
}

input.checkboxcheckmark+label::before {
    color: #cacdcf;
    font-size: 18px;
    font-family: Material-Design-Iconic-Font;
    margin-right: 8px;
    vertical-align: top;
    transition: all ease .3s
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: #424242;
    color: #fff;
    border: 1px solid #ececec;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -200px;
    opacity: 0;
    transition: opacity .5s
}

.text-header {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    margin-top: 22px;
    margin-bottom: 16px;
    font-weight: 700
}

.announcement {
    margin: auto;
    margin-bottom: 5px;
    padding: 10px 8px;
    text-align: center;
    font-size: 15px;
    border-radius: 1px;
    width: 100%;
    margin-top: -15px
}

.infoblock {
    height: 45px;
    line-height: 44px;
    width: 300px;
    text-transform: capitalize;
    border: 1px solid #e6e9eb;
    border-radius: 5px;
    margin-top: 5px;
    background: #fdfdfd;
    text-align: center;
    font-size: 15px;
    display: inline-block
}

.cracked_password {
    padding: 8px 15px!important;
    background: rgb(27 34 49);
    color: #fff;
    border-radius: 5px
}

.querytime {
    text-align: center;
    padding: 14px;
    font-size: 15px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 5px 10px 0 rgba(202,202,202,.12);
    width: 100%;
    background: #fff;
    border-radius: 5px;
    margin: auto;
    margin-top: -16px;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.members_top {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,.16);
    -moz-box-sizing: border-box;
    margin: 12px;
    border-radius: 5px
}

.members_main {
    max-width: 947px
}

.search_page_wrapper {
    max-width: 960px;
    margin: auto
}

.search_options_wrapper {
    text-align: center
}

.sb_round_checkbox {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 0 10px;
    border: 1px solid #f5f5f7;
    border-radius: 5px;
    width: 210px
}

.manage_subs_button {
    background: #395ff5;
    color: #fbfbfb!important;
    padding: 7px 8px;
    border-radius: 3px
}

.cracked_password_large {
    background: #000;
    margin-bottom: 10px;
    border-radius: 2px;
    padding: 23px 2%;
    margin-top: -4px;
    color: #fff;
    background-color: #2a56e6;
    box-shadow: 0 5px 2px -5px rgba(0,0,0,.28)
}

.failed_to_crack {
    background: #c12c2cd9
}

.cracked_password_large .raw_password {
    float: right
}

.button {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .25rem .8rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.button_red {
    border-color: currentColor;
    color: #3f51b5;
    background-color: transparent;
    border: 1px solid #3f51b5
}

.button_red:hover {
    border: 1px solid #ef2b20;
    color: #ef2b20
}

.button_green {
    border-color: currentColor;
    color: #3f51b5;
    background-color: transparent;
    border: 1px solid #3f51b5
}

.button_green:hover {
    border: 1px solid #34c54d;
    color: #34c54d
}

.button_logout {
    margin-top: 3px;
    margin-bottom: 20px
}

.combo {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgba(202,202,202,.12);
    width: 100%;
    padding: 10px 16px;
    margin: 10px 0;
    background: #fff
}

.combo .combo_name {
    display: inline-block;
    width: 100%
}

.combo .combo_results {
    width: 50%;
    display: inline-block;
    text-align: right
}

.combo .combo_expand {
    width: 27px;
    opacity: .7;
    margin-right: 6px
}

.combo_expand img {
    margin-top: 1px
}

.combolist_res {
    max-height: 188px;
    overflow: auto;
    margin: 8px 0 0;
    background: #e8ebee;
    color: #383d41;
    padding: 2px 7px;
    border: 1px solid #d6d8db;
    border-radius: 5px
}

.topbar {
    display: inline-block
}

.expand {
    cursor: pointer;
    float: right;
    margin-left: 6px;
    font-size: .95rem
}

.combolist_res div {
    padding: 3px 0
}

.product_container {
    max-width: 1320px;
    margin-left: 5px;
    color: #000;
    padding: .25rem 0 0 1rem
}

.product_container .package_container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: stretch
}

.product_container .product {
    width: 100%;
    border-radius: .25rem;
    flex: 1;
    flex-basis: 260px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0
}

.product_container .product_title {
    width: 100%;
    background: #1c48d4;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    text-align: center;
    font-size: 16px
}

.product_container .product_description {
    width: 100%;
    background: #fdfdfd;
    padding: 20px;
    height: 70px
}

.product_container .product_price {
    width: 100%;
    background: #fdfdfd;
    padding: 20px 20px 15px
}

.product_container .product_purchase {
    width: 100%;
    background: #fff;
    padding: 12px 20px 15px;
    text-align: center;
    box-shadow: 0 2px 0 0 rgba(1,1,1,.06);
    border-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.product_container .product_button {
    width: 100%;
    padding: 15px 0;
    outline: 0;
    border: 0;
    background: #1c48d4;
    color: #fff;
    cursor: pointer;
    border-radius: 5px
}

.product_container .purchase_update {
    max-width: 1263px;
    background: linear-gradient(to bottom left,#6ac799,#4ec3e6);
    color: #fff;
    padding: 20px;
    margin-top: 10px
}

.product_container .redeem_button {
    width: 332px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 60px;
    padding-left: 60px;
    border-radius: 3px;
    background: #204de1;
    color: #fff!important
}

.product_container .activate_account {
    display: block;
    margin-top: 2.5rem
}

.product_container .money_saved {
    display: inline;
    font-size: .9em;
    border: 1px solid #46b34a;
    color: #46b34a;
    padding: 2px 6px 3px;
    border-radius: 12px
}

.saved_search_table tbody tr:nth-of-type(odd) {
    background-color: #f8f9fc;
    color: #4d4d4d
}

.saved_search_table th,.saved_search_table td,.saved_search_table {
    border: 0
}

.saved_search_table th {
    padding: 9px 24px;
    font-weight: 700
}

.saved_search_table td {
    color: inherit;
    padding: 9px 24px
}

.nojs {
    width: 99%;
    background: #1c48d4;
    color: #fff;
    padding: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px
}

.disabled {
    background: #e3e3e3!important;
    color: #a2a2a2!important
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 17px;
    width: 17px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 5px 0 0;
    cursor: pointer;
    border: 1px solid #d8d8d8;
    border-radius: 6px;
    background: #fff
}

input[type=checkbox]:checked,input[type=radio]:checked {
    border: 1px solid #5468d4;
    background: #5468d4
}

input[type=checkbox]:after,input[type=radio]:after {
    content: '';
    display: block;
    position: absolute
}

input[type=checkbox]:after {
    width: 5px;
    height: 8px;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    left: 5px;
    top: 3px;
    transform: rotate(43deg)
}

.xhash::after {
    content: "click to crack";
    font-size: .75em;
    color: #9aa3ab;
    margin: 0 0 0 3px
}

.xhash {
    cursor: pointer
}

.xlastip {
    cursor: pointer
}

.xlastip::after {
    content: "get location";
    font-size: .75em;
    color: #9aa3ab;
    margin: 0 0 0 3px
}

.x-ip-location {
    color: #fff;
    background: #204ee1;
    padding: 3px 8px;
    border-radius: 5px;
    display: inline-block;
    margin: 2px 0 0
}

.x-ip-vpn {
    color: #fff;
    background: #e12020;
    padding: 2px .5em;
    border-radius: .45rem
}

.x-cleartext {
    color: #fff;
    background: #1a2231;
    padding: 3px 8px;
    border-radius: .45rem;
    display: inline-block;
    margin: 2px 0 0
}

.vm {
    margin: -11px 0 8px;
    padding: 4px 0;
    width: 100%;
    text-align: center;
    border: 1px solid #cfcfcf;
    border-bottom-left-radius: .45rem;
    border-bottom-right-radius: .45rem;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.01);
    background: #fff;
    cursor: pointer
}

.generic_page_wrapper {
    padding: 1.15rem
}

@media only screen and (max-width: 600px) {
    body,html {
        margin-left:4px;
        margin-top: 40px
    }

    .account_button {
        position: unset!important;
        display: unset!important;
        bottom: inherit;
        left: auto
    }

    .header img {
        display: none
    }

    .header .spacer {
        display: unset;
        height: 0
    }

    #togglebutton {
        display: block!important;
        z-index: 99;
        top: 0;
        left: 0;
        position: fixed;
        width: 100vw;
        background: #204de1;
        height: 62px;
        border: none;
        padding: 12px 20px 0;
        box-sizing: border-box;
        animation: fadeIn 1s ease-in both
    }

    .product_container {
        padding: 0!important
    }

    .infoblock {
        width: 90%
    }

    .spacer {
        display: inline;
        top: unset
    }

    .header {
        width: 100vw;
        height: 100vh;
        display: none;
        background: #204de1;
        padding-top: 20%
    }

    .togglebutton_features {
        font-size: 2.4em!important;
        color: #fff;
        float: right
    }

    .datatable {
        display: block;
        margin-bottom: 10px
    }

    .databaselist td:first-child {
        display: block
    }

    .text-header {
        font-size: 1.6em;
        font-weight: 700
    }

    .announcement {
        display: none
    }

    input[type=text],input[type=file],input[type=password],input[type=email],select {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 80vw
    }

    .form_submit {
        padding: 10px 20vw;
        margin-top: 10px;
        margin-left: 0;
        background: #204de1;
        float: none;
        width: 100%
    }

    .querytime {
        line-height: 1.5;
        padding: 10px;
        margin-top: -5px;
        margin-bottom: 10px
    }

    .radiolabelbutton:checked+label {
        background: #204de1
    }

    .radiolabelbutton+label {
        max-width: unset!important
    }

    .sb_round_checkbox {
        display: inline-block;
        padding: 10px;
        margin-top: 6px;
        width: 100%
    }

    .search_options_wrapper {
        margin-top: 0
    }

    .account-button {
        width: 100%;
        padding: 13px 11px
    }

    input[type=text],input[type=file],input[type=password],input[type=email],select {
        float: none;
        width: 100%
    }

    .generic_page_wrapper {
        padding: .5rem
    }

    .option_container {
        max-width: 100%;
        grid-template-columns: repeat(3,1fr)
    }

    .expand {
        display: none
    }
}
